@model HomeViewModel
@{
    ViewData["Title"] = "Index";
}
<div class="container">
	<div class="container2cols">
		<div class="main-content">
			@{await Html.RenderPartialAsync("Post.cshtml", Model.Post);}
			@{await Html.RenderPartialAsync("_SocialSharing", ViewData["Title"]);}
		</div>
		<div class="sidebar">
			@{await Html.RenderPartialAsync("_LatestPosts", Model.LatestPosts);}
			@{await Html.RenderPartialAsync("_Categories", Model.Categories);}
		</div>
	</div>
</div>
